header{
	text-align: center;
	border: 2px solid black;
	height: 120px;
	padding: 0px;
	margin: 10px 0px;
}
.manu ul{
	padding: 0px;
	margin: 0px 20px;

}
.manu li{
	background-color: white;
	width: 180px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: 2px solid black;
	margin: 0px;
}
body{
	background-color: lightgray;
}

div.main{

	border: 2px solid black;
	padding: 10px;
	margin: 10px 0px;
}

div.message{
	max-height: 200px;
	overflow: scroll;
	padding: 0px 5px;
}

.searchbar{
	text-align: center;
	margin: 10px 0px;
	width: 100%;
}
.searchbar input,.searchbar button{
	text-align: center;
	font-size: large;
	font-weight: bold;
}
table,td,th{
	text-align: center;
	min-width: 120px;
	border-collapse: collapse;
	border: 1px solid black;
}
td{
	padding: 5px 10px;
}

.input span,.input input, .input button{
	display: inline-block;
	width: 150px;
	text-align: center;
	font-size: large;
	font-weight: bold;
}





